@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #FF6969;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 16px;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#countdown {
    color: #2f4f4f;
}

hr {
  margin: auto;
  width: 40%;
}

#back-button {
    text-decoration: none;
    color: #2f4f4f;
}