@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&display=swap');

html, body {
    display: grid;
    height: 100%;
}
.content {
  margin: auto;
 font-family: 'Playfair Display', serif;
}

.landing-page-heading {
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: darkslategrey;
}

.gift-icon {
    display: block;
    margin: auto;
}

#gift-button img {
    position: absolute;
    left: 48%;
    right: 52%;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

}

#gift-button img:last-child {
    opacity: 0;
    z-index: 1;
}

#gift-button img:first-child {
    opacity: 1;
    z-index: 2;
}

#gift-button:hover img:last-child {
    opacity: 1;
    z-index: 2;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#gift-button:hover img:first-child {
    opacity: 0;
    z-index: 1;
}


.LI-simple-link {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: #2f4f4f;
}

 .c-checkbox {
	 display: none;
}
 .c-checkbox:checked + .c-formContainer .c-form {
	 width: 37.5em;
}
 .c-checkbox:checked + .c-formContainer .c-form__toggle {
	 visibility: hidden;
	 opacity: 0;
	 transform: scale(0.7);
}
 .c-checkbox:checked + .c-formContainer .c-form__input, .c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
	 transition: 0.2s 0.1s;
	 visibility: visible;
	 opacity: 1;
	 transform: scale(1);
}
 .c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before, .c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
	 content: 'Thank You! \1F60A';
}
 .c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
	 pointer-events: none;
	 cursor: default;
}
 .c-formContainer, .c-form, .c-form__toggle {
	 width: 15em;
	 height: 4.25em;
}
 .c-formContainer {
	 position: relative;
	 font-weight: 700;
}
 .c-form, .c-form__toggle {
	 position: absolute;
	 border-radius: 6.25em;
	 background-color: #fff;
	 transition: 0.2s;
}
 .c-form {
	 left: 50%;
	 transform: translateX(-50%);
	 padding: 0.625em;
	 box-sizing: border-box;
	 box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
	 display: flex;
	 justify-content: center;
}
 .c-form__toggle {
	 color: #ff7b73;
	 top: 0;
	 cursor: pointer;
	 z-index: 1;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .c-form__toggle::before {
	 font-size: 1.25em;
	 content: attr(data-title);
}
 .c-form__input, .c-form__button {
	 font: inherit;
	 border: 0;
	 outline: 0;
	 border-radius: 5em;
	 box-sizing: border-box;
}
 .c-form__input, .c-form__buttonLabel {
	 font-size: 1.25em;
	 opacity: 0;
	 visibility: hidden;
	 transform: scale(0.7);
	 transition: 0s;
}
 .c-form__input {
	 color: #fcc;
	 height: 100%;
	 width: 100%;
	 padding: 0 0.714em;
}
 .c-form__input::placeholder {
	 color: currentColor;
}
 .c-form__input:required:valid {
	 color: #ff7b73;
}
 .c-form__input:required:valid + .c-form__buttonLabel {
	 color: #fff;
}
/* .c-form__input:required:valid + .c-form__buttonLabel::before {*/
/*	 pointer-events: initial;*/
/*}*/
 .c-form__buttonLabel {
	 color: #ffaea9;
	 height: 100%;
	 width: auto;
}
 .c-form__buttonLabel::before {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 pointer-events: auto;
	 cursor: pointer;
}
 .c-form__button {
	 color: inherit;
	 padding: 0;
	 height: 100%;
	 width: 5em;
	 background-color: #ff7b73;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF6969;
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
}