{% extends "parent.html" %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <p align="center">What do you want to do?</p><br>
  <input class="c-checkbox" type="radio" id="checkbox" name="group-selection">
  <div class="c-formContainer">
    <form class="c-form" action="javascript:createRoom();">
      <input id="create-group-text" class="c-form__input" name="group_name" placeholder="Group name" type="text" required>
      <label class="c-form__buttonLabel" onclick="createRoom();" for="checkbox">
        <button id="create-button" class="c-form__button" type="button">Create</button>
<!--        <input type="submit" class="c-form__button" onclick="createRoom();" name="Create">-->
      </label>
      <label class="c-form__toggle" for="checkbox" data-title="Create Group"></label>
    </form>
  </div><br><br>
  <input class="c-checkbox" type="radio" id="checkbox2" name="group-selection">
  <div class="c-formContainer">
    <form class="c-form" action="">
      <input class="c-form__input" placeholder="Group name" type="text" required>
      <label class="c-form__buttonLabel" for="checkbox2">
        <button class="c-form__button" type="button">Select</button>
      </label>
      <label class="c-form__toggle" for="checkbox2" data-title="Select Group"></label>
    </form>
  </div>
  <input class="c-checkbox" type="checkbox">
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}