{% extends "parent.html" %}

{% load static %}

{% block title %}Secret Gifts!{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="landing-page-heading">Someone is waiting for your gift!</h1>
    <a id="gift-button" href="/dashboard/">
        <img class="gift-icon" src="{% static 'images/gift-icon.svg' %}"/>
        <img class="gift-icon" id="gift-icon-red" src="{% static 'images/gift-icon-red.svg' %}"/>
    </a>
</div>
</body>
{% endblock %}