{% extends "parent.html" %}

{% load static %}

{% block title %}Coming soon!{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/coming_soon.css' %}">
{% endblock %}

{% block content %}
<div class="bgimg">
    <div class="topleft">
        <a id="back-button" onclick="goBack()" href="#">&#8249;&nbsp;Go back</a>
    </div>
    <div class="middle">
        <h1>THIS PAGE IS UNDER CONSTRUCTION 🚧</h1>
        <hr>
        <p id="countdown"></p>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/coming_soon.js' %}"></script>
{% endblock %}