<!DOCTYPE html>

{% load static %}

<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    {% block extrahead %}
    {% endblock %}
  </head>
  {% endblock %}

  <body>
    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
  </body>

</html>